<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width='device-width', initial-scale=1.0" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
		<title></title>
	</head>

	<body>
		<div class="container">
			<div>
				<video id="videoElement" autoplay></video>
				<!-- <img id="photoElement" style="display: none" /> -->
				<canvas id="canvasElement" style="display: none"></canvas>
			</div>
      <div id="result"></div>
		</div>
	</body>

	<script>
		var socket = io();
		socket.on("connect", function () {
			socket.emit("my event", { data: "I'm connected!" });
		});

    socket.on("positive", function () {
      document.getElementById("result").textContent = "Positive result";
      console.log("positive result");
    })

    socket.on("negative", function () {
      document.getElementById("result").textContent = "Negative result";
      console.log("negative result");
    })


		let videoElement = document.getElementById("videoElement");
		let photoElement = document.getElementById("photoElement");

		function capturePhoto() {
			canvasElement.width = videoElement.videoWidth;
			canvasElement.height = videoElement.videoHeight;

			canvasElement.getContext("2d").drawImage(videoElement, 0, 0);
			const photoDataUrl = canvasElement.toDataURL("image/jpeg");

			const dataURL = canvasElement.toDataURL();

			// "data:image/png;base
			// photoElement.src = photoDataUrl;
			// photoElement.style.display = "block";

			// var xhr = new XMLHttpRequest();
			// xhr.open('POST', '/detect', true);
			// xhr.send(photoDataUrl);
			socket.emit('image', photoDataUrl);
		}

		document.addEventListener("DOMContentLoaded", () => {
			let mediaDevices = navigator.mediaDevices;
			videoElement.muted = true;

			mediaDevices
				.getUserMedia({
					video: true,
				})
				.then((stream) => {
					// Changing the source of video to current stream.
					videoElement.srcObject = stream;
					videoElement.addEventListener("loadedmetadata", () => {
						videoElement.play();
						capturePhoto();

						setInterval(capturePhoto, 1000);
					});
				})
				.catch(alert);
		});
	</script>
</html>
